body {
    background-color:#f4f4f4;
    color:#555555;

    font-family:'Courier New', Courier, monospace Arial;
    font: size 16px;font-weight:bold;

    line-height: 1.6em;
    margin:0;
}

.container{
    width:500px;
    
}
a{
    text-decoration: none;
    color:#000

}
a:hover{
    color:red;

}

a:visited{
    color:black;
}

a:active{
    color:green;

}



.box-1{
    background-color:#333;
    color:#fff;
    border: 5px red solid;
    padding:20px;
    margin:20px;

}
.box-2{
    border:3px dotted #ccc;
    padding:20px;
    margin:20px 0;
}
.categories{
    border:1px #ccc solid;
    padding:10px;
    border-radius:15px;

}

.categories h2{
    text-align:center;
}

.categories ul{
    padding:0;
    list-style:square;
    list-style:none;
}

.categories li{
    padding-bottom:8px;
    border-bottom:dotted 1px #333;
    list-style-image: url('../images/checkmark.jpg');
}